@media screen and (min-width: 0px) {
    .container {
        display: flex;
        padding: 2px 16px 2px 16px;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
    }
    
    .profileImage {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    
    .content {
        flex: 1;
        width: 100%;
        padding: 12px;
        box-sizing: border-box;
    }
    
    .textarea {
        width: 100%;
        border: none;
        font-size: 18px;
        outline: none;
    }
    
    .viewSelect {
        background-color: transparent;
        color: rgb(29, 155, 240);
        font-weight: bold;
        outline: none;
        border: none;
        cursor: pointer;
        padding: 4px 12px 4px 12px;
        box-sizing: border-box;
        border-radius: 12px;
    }
    
    .viewSelect:hover {
        background-color: rgb(194, 225, 245);
    }
    
    .bottom {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .button {
        background-color: rgb(29, 155, 240);
        color: white;
        font-size: 14px;
        font-weight: 600;
        border: none;
        padding: 10px 35px 10px 35px;
        box-sizing: border-box;
        border-radius: 50px;
        width: 100%;
        cursor: pointer;
    }
    
    .button:disabled {
        /* opacity: 0.5; */
        background-color: rgb(173, 213, 239);;
        cursor: default
    }
    
    .hr {
        border: 0.1px solid rgb(242, 242, 242);
    }
    
    .icon {
        height: 18px;
        margin-right: 12px;
    }
    
    .icon:hover {
        cursor: pointer;
    }
    
    .imagePreview {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
    }
    
    .imagePreview:hover {
        cursor: pointer;
    }
    
    .gridContainer {
        display: grid;
        grid-template-columns: auto ;
        text-align: center;
        grid-gap: 10px;
        padding: 10px;
        box-sizing: border-box;
    }
    
    .imageContainer {
        width: 100%;
        height: 250px;
    }
    
    .closeButton {
        position: absolute;
        margin: 12px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: rgb(48, 48, 48);
        color: rgb(237, 237, 237);
        text-align: center;
    }
    
    .closeButton:hover {
        cursor: pointer;
        opacity: 0.8;
    }
    
    .emojis {
        position: absolute;
        z-index: 1;
    }
    .hashtag{
        color: rgb(29, 155, 240);
    }
    
    .black{
        color: black
    }
    
    .editable:empty:before {
        content: attr(placeholder); 
        color: rgb(209, 209, 209);
        cursor:text;
    }
    
    .hr{
        border-color: rgb(247, 246, 246);
    }

    .containerTransparent{
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
    }
}

@media screen and (min-width: 620px) {
    .bottom {
        justify-content: space-between;
    
    }

    .gridContainer {
        grid-template-columns: auto auto ;
    }

    .imageContainer {
        width: 100%;
        /* height: 250px; */
        height: auto;
    }
}

@media screen and (min-width: 960px) {}

@media screen and (min-width: 1320px) {
 
}