<div class="container">
    <div>
        <img class="profileImage" src="./../../../../../assets/profile.jpg" alt="profile" />
    </div>
    <div class="content">
        <div (click)="showLimitView()" tabindex="1"  *ngIf="!replyTweet" placeholder="¿Qué estás pensando?" class="textarea editable"
          (keydown)="xd($event)" (focusOut)="hideMenuHandler()" contenteditable style="min-height:60px;"
            id="textarea" name="textarea" #textarea>
        </div>
        <!-- <div (click)="showLimitView()" *ngIf="replyTweet" placeholder="Twittea tu respuesta" id="editMe"
            class="textarea editable" (input)="handleText($event)" contenteditable="true" id="textarea"
            style="min-height:60px;" name="textarea" #textarea>
        </div> -->


        <!-- <div  class="containerTransparent" *ngIf="writingHashtag && !writingTag"></div> -->
        <div appClickedOutside (clickedOutside)="hideMenuHandler()" *ngIf="actualElement?.textContent.charAt(0)=='#' && !selectedSuggestion">
            <app-hashtag-search (selectHashtag)="selectOptionHandler($event)" [hashtagSearch]="actualElement?.textContent">
            </app-hashtag-search>
        </div>

        <!-- <div  class="containerTransparent" *ngIf="writingHashtag && writingTag"></div> -->
        <div appClickedOutside (clickedOutside)="hideMenuHandler()" *ngIf="actualElement?.textContent.charAt(0)=='@'">
            <app-user-tag-search (selectUser)="selectOptionHandler($event)" [userTagSearch]="actualElement?.textContent">
            </app-user-tag-search>
        </div>


        <div class="gridContainer" *ngIf="files">
            <div class="imageContainer" *ngFor="let item of files; let i = index">
                <div (click)="removeFile(i)" class="closeButton">
                    <div style="margin-top:6px;">
                        <strong>X</strong>
                    </div>
                </div>
                <img src={{item}} class="imagePreview" />
            </div>
        </div>
        <div class="gridContainer" *ngIf="gif">
            <div class="imageContainer">
                <div (click)="removeGif()" class="closeButton">
                    <div style="margin-top:6px;">
                        <strong>X</strong>
                    </div>
                </div>
                <img src={{gif}} class="imagePreview" />
            </div>
        </div>

        <div *ngIf="showNotification || files.length>0">
            <button #toggleButton (click)="showOptionsView()" class="viewSelect">{{replieOption}}</button>
            <div *ngIf="showModalView" #modal>
                <app-replies-options [checked]="checked" (newItemEvent)="addItem($event)"></app-replies-options>
            </div>
            <hr class="hr" />
        </div>

        <div class="bottom">
            <div>
                <label for="image">
                    <img src="./../../../../../assets/image.svg" class="icon" />
                </label>
                <input (change)="saveFiles($event)" type="file" multiple id="image" name="image"
                    accept="image/png, image/jpeg" style="display: none; visibility:none">
                <img (click)="showGifs()" src="./../../../../../assets/gif.svg" class="icon" />
                <img (click)="showEmojis()" src="./../../../../../assets/emoji.svg" class="icon" />
            </div>
            <div class="button_group">
                <button (click)="makeTweet()" *ngIf="!replyTweet" [disabled]="!text && !gif && filesPure.length ==0"
                    class="button">Twittear</button>
                <button (click)="makeReply()" *ngIf="replyTweet" [disabled]="!text && !gif && filesPure.length ==0"
                    class="button">Responder</button>
            </div>
        </div>
        <div class="containerTransparent" *ngIf="showEmojisModal">
        </div>
        <div appClickedOutside (clickedOutside)="hideEmojis()" class="emojis" *ngIf="showEmojisModal">
            <app-emojis (selectEmoji)="concatEmoji($event)"></app-emojis>
        </div>
    </div>
</div>
<app-giphy (hideModal)="hideGifs()" (onFinish)="saveGif($event)" *ngIf="showGifsModal"></app-giphy>