<div class="container">
    <div>
        <img class="profileImage" src="./../../../../../assets/profile.jpg"
            alt="profile" />
    </div>
    <div class="content">
        <textarea [(ngModel)]="text" (click)="showLimitView()" placeholder="¿Qué está pasando?" class="textarea"
            name="text" autosize></textarea>
        <div *ngIf="showNotification">
            <button #toggleButton (click)="showOptionsView()" class="viewSelect">{{replieOption}}</button>
            <div *ngIf="showModalView" #modal>
                <app-replies-options [checked]="checked" (newItemEvent)="addItem($event)"></app-replies-options>
            </div>
        </div>
        <div class="bottom">
            <div>

            </div>
            <div>
                <button (click)="makeTweet()" [disabled]="!text" class="button">Twittear</button>
            </div>
        </div>
    </div>
</div>