<div *ngIf="tweet" class="box">
    <div class="header">
        <div class="special" *ngIf="tweet.content.liked"><img class="interest"
                src="./../../../../../assets/heart.png" /> {{tweet.content.liked.name}} indicó que le gusta</div>
        <div class="special" *ngIf="tweet.content.retweetted && !tweet.content.retweetted?.retweetedByMe"><img class="interest"
                src="./../../../../../assets/retweet.png" /> {{tweet.content.retweetted.name}} lo retwitteó</div>
        <div class="special" *ngIf="tweet.content.interest"><img class="interest"
                src="./../../../../../assets/interest.png" /> {{tweet.content.interest.name}}</div>
        <div class="special" *ngIf="tweet.content.retweetted?.retweetedByMe"><img class="interest"
                src="./../../../../../assets/retweet.png" /> Retwitteaste</div>
    </div>
    <div class="flex_content">
        <div>
            <img src={{tweet.user.image}} class="imageProfile" />
        </div>
        <div class="flex">
            <div class="flex_column ">
                <div class="name">
                    <strong>{{tweet.user.name}}</strong>
                </div>
                <div class="username">
                    @{{tweet.user.username}}
                </div>
            </div>
        </div>
        <div>
            <img src="./../../../../assets/three_points.png" class="icon" />
        </div>
    </div>
    <div class="text">
        {{tweet.content.text}}
        <img class="imageTweet" *ngFor="let image of tweet.content.media" src={{image}} />
    </div>

    <div class="time">
        <span>{{getTime(tweet.content.date)}} · {{getDate(tweet.content.date)}}</span>
    </div>
    <div style="border-bottom:0.5px solid rgb(240, 240, 240);" ></div>
    <div class="interaction_numbers">
        <span class="link"><strong>{{tweet.content.retweets}}</strong> <span> Retweets</span></span> &nbsp;&nbsp;&nbsp;&nbsp; <span class="link"><strong>{{tweet.content.likes}}</strong> <span> Me gusta</span></span>
    </div>
    <div style="border-bottom:0.5px solid rgb(240, 240, 240);" ></div>

    <div class="reactions">
        <div (click)="makeTweet()">
            <img src="./../../../../../assets/comment.png" /> 
        </div>
        <div (click)="unRetweetTweet()" *ngIf="isRetweetedByME(tweet)">
            <img src="./../../../../../assets/retweet_green.png" />
        </div>
        <div (click)="retweetTweet()" *ngIf="!isRetweetedByME(tweet)">
            <img src="./../../../../../assets/retweet.png" />
        </div>

        <div (click)="likeTweet($event)" *ngIf="!isLikedByME(tweet)">
            <img src="./../../../../../assets/heart.png" />
        </div>
        <div (click)="dislikeTweet()" *ngIf="isLikedByME(tweet)"> 
            <img src="./../../../../../assets/heart_red.png" />
        </div>

        <div>
            <img src="./../../../../../assets/share.png" />
        </div>
    </div>

    <div style="border-bottom:0.5px solid rgb(240, 240, 240);" ></div>
</div>

<app-modal [tweet]="tweet" (hideModal)="closeMakeTweet()" *ngIf="showModalReply && tweet"></app-modal>