@media screen and (min-width: 0px) {
    .modal {
        background-color: black;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        opacity: 0.5;
        z-index: 999;

    }

    .modal_body {
        position: fixed;
        left: 50%;
        top: 0;
        width: 100vw;
        height: 100vh;
        left: 0;
        z-index: 9999;
    }

    .hr {
        border: 0.1px solid rgb(242, 242, 242);
    }

    .close {
        position: absolute;
        color: white;
        padding: 24px;
        font-weight: bold;
    }

    .close:hover {
        cursor: pointer;
    }

    .flex_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .response_box {
        display: flex;
        flex-direction: row;
        padding: 18px;
    }

    .response_box :nth-child(2) {
        flex: 1;
    }

    .textarea {
        width: 100%;
        border: 0;
        outline: 0;
        font-size: 22px;
        padding-top: 12px;
    }

    button {
        background-color: rgb(29, 155, 240);
        color: white;
        font-size: 16px;
        font-weight: 600;
        border: none;
        padding: 10px 28px 10px 28px;
        border-radius: 50px;
        width: 100%;
        margin-top: 20px;
    }

    button:hover {
        cursor: pointer;
        background-color: rgb(29, 136, 208);
    }

    .image {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 12px;
    }

    .photo {
        width: 70%;
        max-width: 1000px;
    }

    .photo_container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        background-color: rgba(107, 34, 34, 0.5);
        height: 50vh;
    }

    .aside {
        background-color: white;
        height: 50vh;
    }
    .reactions_container{
        width: 160px;
        min-width: 0;
    }
}

@media screen and (min-width: 620px) {

    .flex_container {
        flex-direction: row;
        height: 100vh;
    }

    .photo_container {
        width: 45%;
        height: 100vh;
    }

    .aside {
        height: 100vh;
        width: 55%;
        display: block;
    }
}

@media screen and (min-width: 960px) {
    .photo_container {
        width: 65%;
    }
    .aside {
        width: 35%;
        display: block;
    }
}

@media screen and (min-width: 1320px) {}