.feedContainer{
    width: 600px;
    margin-right: 28px;
    margin-left: 28px;

    /* border: 1px solid blue; */
}
.latestContainer{
  width: 360px;
  /* border: 1px solid red; */
}

.wrapper{
    display: flex;
}
.box{
  border-top: 0.2px solid rgb(240, 240, 240);
  border-left: 0.2px solid rgb(240, 240, 240);
  border-right: 0.2px solid rgb(240, 240, 240);
 
}

.feedContainer{
    width: 600px;
    margin-right: 28px;
    margin-left: 28px;
    display: flex;
    flex-direction: column;
}

.flex_last{
   flex: 1;
}

.flex{
    top: 0;
    position: fixed;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    background-color: white;
    opacity: 0.8;
}
.arrow{
    width: 20px;
    cursor: pointer;
    padding-left: 20px;
}
.header{
    min-width: 0;
    padding-left: 24px;
    padding-right: 18px;
}
.title{
    font-size:20px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.frontpage{
    width: 100%;
}

.content{
    padding-top: 60px;
}

.categorie{
    font-weight: bold;
    color: rgb(65, 65, 65);
}

.main_title{
    font-size: 24px;
    font-weight: bolder;
    padding-top: 12px;
    padding-bottom: 12px;
}

.body{
    padding: 14px;
}
.description{
    font-size: 15px;
    line-height: 20px;
}