<div class="wrapper">
    <div class="feedContainer">
        <div class="container ">
            <h2>Guardados</h2>
            <p class="subtitle">@MedinaVilla23</p>
            <div class="content">
                <div>
                    <img src="./../../../assets/saved_banner.png" class="image" />
                    <h1 class="title">Guarda los Tweets para verlos más tarde</h1>
                    <p class=subtitle_md> ¡No dejes que los buenos se pierdan por ahí! Guarda los Tweets para luego encontrarlos fácilmente.</p>
                </div>
            </div>
        </div>
     
        <!-- <app-item-notification [item]="item" *ngFor="let item of notificaciones"></app-item-notification> -->
    </div>
    <div class="latestContainer">
        <app-latest></app-latest>
        <app-follow-suggest [title]='"A quién seguir"'></app-follow-suggest>
    </div>
</div>