<div class="wrapper" *ngIf="userTagsResults?.length !=0">
    <div (click)="selectOption(item.user?.username!)" class="item" *ngFor="let item of userTagsResults">
        <div class="container">
            <div class="itemList">
                <div>
                    <img src={{item.user?.image}}
                        class="profileImage" />
                </div>
                <div class="profileResult">
                    <div>
                        {{item.user?.name}}
                    </div>
                    <div>
                        @{{item.user?.username}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>