@media screen and (min-width: 0px) {
  .feedContainer {
    width: auto;
    min-width: 0;
    margin-right: 28px;
    margin-left: 28px;
  }

  .latestContainer {
    flex: 1;
    /* width: 360px; */
    min-width: 0;
    display: none;
  }

  .wrapper {
    display: flex;
  }

  .container{
    border: 1px solid rgb(243, 243, 243);
  }
  .title{
    padding-left: 24px;
  }
  .description{
    font-size: 12px;
  }
}


@media screen and (min-width: 680px) {
  .feedContainer {
    width: 600px;
    min-width: 0;
  }
}

@media screen and (min-width: 960px) {}

@media screen and (min-width: 1220px) {

  .latestContainer {
    display: block;
  }
}

@media screen and (min-width: 1320px) {}
