<div>
    <ul class="tabs">
        <li routerLink="/explore/for-you" routerLinkActive="active">Para ti</li>
        <li routerLink="/explore/tabs/trends" routerLinkActive="active">Tendencias</li>
        <li routerLink="/explore/tabs/covid-19" routerLinkActive="active">COVID-19</li>
        <li routerLink="/explore/tabs/news" routerLinkActive="active">Noticias</li>
        <li routerLink="/explore/tabs/sports" routerLinkActive="active">Deportes</li>
        <li routerLink="/explore/tabs/entertainment" routerLinkActive="active">Entretenimiento</li>
    </ul>
</div>