<div class="wrapper">
    <div class="feedContainer">
        <app-search-bar></app-search-bar>
        <app-tabs></app-tabs>
        <app-for-you frontpage="https://caracoltv.brightspotcdn.com/dims4/default/641c7a1/2147483647/strip/true/crop/1024x748+0+0/resize/1000x730!/quality/90/?url=http%3A%2F%2Fcaracol-brightspot.s3.amazonaws.com%2F3f%2Ffd%2F065253be43efb8deb4288662e6ba%2Fharry-styles.jpg" ></app-for-you>
    </div>
    <div>
        <div class="latestContainer">
            <app-follow-suggest [title]='"A quién seguir"'></app-follow-suggest>
            <app-footer></app-footer>
        </div>
    </div>
</div>
