<div class="container">
    <div>
        <img (click)="showBannerProfileHandler('./../../../../assets/image_profile_1.jpg')" class="img" src="./../../../../assets/image_profile_1.jpg"/>
    </div>
    <div >
        <img (click)="showBannerProfileHandler('./../../../../assets/image_profile_2.jpg')" class="img" src="./../../../../assets/image_profile_2.jpg"/>
    </div>
</div>

<app-modal-wrapper (hideModal)="hideBannerProfileHandler()"*ngIf="showBannerProfile">
    <div content> 
        <img  (click)="stopPropagation($event)"  class="imagePreview" src={{showBannerProfile}} />
    </div>
</app-modal-wrapper>