<div class="menu_profile">
    <div class="list_items">
        <li>
            <img src="./../../../../../../assets/Emoji_sad.svg">
            No me interesa este Tweet
        </li>
        <li>
            <img src="./../../../../../../assets/User_add.svg">
            Seguir a @domeelipa
        </li>
        <li>
            <img src="./../../../../../../assets/List_add.svg">
            Agregar/eliminar a domeelipa en Listas
        </li>
        <li>
            <img src="./../../../../../../assets/Block.svg">
            Bloquear a @domeelipa
        </li>
        <li>
            <img src="./../../../../../../assets/Code.svg">
            Insertar Tweet
        </li>
        <li>
            <img src="./../../../../../../assets/Surrender.svg">
            Denunciar el Tweet</li>
    </div>
</div>
