<nav class="navbar">
    <ul> 
        <li>LOGO</li>
        <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><img src="./../../../assets/home.png" />Inicio</li>
        <li routerLink="/explore/for-you" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><img src="./../../../assets/hashtag.png" />Explorar</li>
        <li routerLink="/notifications" routerLinkActive="active" ><img src="./../../../assets/notification.png" />Notificaciones</li>
        <li routerLink="/messages" routerLinkActive="active"><img src="./../../../assets/message.png" />Mensajes</li>
        <li routerLink="/i/bookmarks" routerLinkActive="active"><img src="./../../../assets/save.svg" />Guardados</li>
        <li><img src="./../../../assets/list.png" />Listas</li>
        <li  routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><img src="./../../../assets/profile.png" /> Perfil</li>
        <li><img src="./../../../assets/config.png" />Más opciones</li>
        <li><button>Twittear</button></li>
    </ul>
</nav>