<nav class="navbar" (window:resize)="onResize($event)">
    <ul>
        <img class="logo" src="./../../../assets/twitter.svg" />
        <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <span>
                <img *ngIf="route!='Home'" src="./../../../assets/Home-1.svg" />
                <img *ngIf="route=='Home'" src="./../../../assets/Home-2.svg" />
                <span class="title">Inicio</span>
            </span>
        </li>
        <li routerLink="/explore/for-you" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <span>
                <ng-container *ngIf="isMobile">
                    <img *ngIf="!route.startsWith('/explore')" src="./../../../assets/Search-1.svg" />
                    <img *ngIf="route.startsWith('/explore')" src="./../../../assets/Search-2.svg" />
                </ng-container>
                <ng-container *ngIf="!isMobile">
                    <img *ngIf="!route.startsWith('/explore')" src="./../../../assets/Hashtag-1.svg" />
                    <img *ngIf="route.startsWith('/explore')" src="./../../../assets/Hashtag-2.svg" />
                </ng-container>

                <span class="title">Explorar</span>
            </span>
        </li>
        <li routerLink="/notifications" routerLinkActive="active">
            <span>
                <img *ngIf="!route.startsWith('/notifications')" src="./../../../assets/Notification-1.svg" />
                <img *ngIf="route.startsWith('/notifications')" src="./../../../assets/Notification-2.svg" />
                <span class="title">Notificaciones</span>
            </span>
        </li>
        <li routerLink="/messages" routerLinkActive="active">
            <span>
                <img *ngIf="!route.startsWith('/messages')" src="./../../../assets/Message-1.svg" />
                <img *ngIf="route.startsWith('/messages')" src="./../../../assets/Message-2.svg" />
                <span class="title">Mensajes</span>
            </span>
        </li>
        <li routerLink="/i/bookmarks" routerLinkActive="active">
            <span>
                <img *ngIf="!route.startsWith('/i/bookmarks')" src="./../../../assets/Save-1.svg" />
                <img *ngIf="route.startsWith('/i/bookmarks')" src="./../../../assets/Save-2.svg" />
                <span class="title">Guardados</span>
            </span>
        </li>
        <li routerLink="/MedinaVilla23/lists" routerLinkActive="active">
            <span>
                <img *ngIf="!route.endsWith('/lists')" src="./../../../assets/List-1.svg" />
                <img *ngIf="route.endsWith('/lists')" src="./../../../assets/List-2.svg" />
                <span class="title">Listas</span>
            </span>
        </li>
        <li routerLink="/MedinaVilla23" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <span>
                <img *ngIf="!route.endsWith('/MedinaVilla23')" src="./../../../assets/User-1.svg" />
                <img *ngIf="route.endsWith('/MedinaVilla23')" src="./../../../assets/User-2.svg" />
                <span class="title">Perfil </span>
            </span>
        </li>
        <li (click)="showOptionsHandler()">
            <span>

                <img src="./../../../assets/Options-1.svg" />
                <span class="title">Más opciones</span>
            </span>
        </li>

        <button *ngIf="!isMobile" (click)="showModalHandler()">Twittear</button>
        <br />
        <div style="text-align: center;" *ngIf="isMobile">
            <img (click)="showModalHandler()" src="./../../../assets/tweet.svg" class="tweetButton" />
        </div>

    </ul>

    <div class="containerTransparent" *ngIf="showOptions">
        <div appClickedOutside (clickedOutside)="hideOptionsHandler()" class="menu_options">
            <div>
                <div>
                    <img src="./../../../assets/profile.png" class="icon" />
                </div>
                <div>
                    Temas
                </div>
            </div>
            <div>
                <div>
                    <img src="./../../../assets/profile.png" class="icon" />
                </div>
                <div>
                    Momentos
                </div>
            </div>
            <div>
                <div>
                    <img src="./../../../assets/profile.png" class="icon" />
                </div>
                <div>
                    Boletines informativos
                </div>
            </div>
            <div>
                <div>
                    <img src="./../../../assets/profile.png" class="icon" />
                </div>
                <div>
                    Twitter para profesionales
                </div>
            </div>
            <div>
                <div>
                    <img src="./../../../assets/profile.png" class="icon" />
                </div>
                <div>
                    Twitter Ads
                </div>
            </div>
            <div>
                <div>
                    <img src="./../../../assets/profile.png" class="icon" />
                </div>
                <div>
                    Analytics
                </div>
            </div>
            <span style="border-top:1px solid rgb(236, 236, 236) ;"></span>
            <div>
                <div>
                    <img src="./../../../assets/profile.png" class="icon" />
                </div>
                <div>
                    Configuración y privacidad
                </div>
            </div>

            <div>
                <div>
                    <img src="./../../../assets/profile.png" class="icon" />
                </div>
                <div>
                    Centro de Ayuda
                </div>
            </div>
            <div>
                <div>
                    <img src="./../../../assets/profile.png" class="icon" />
                </div>
                <div>
                    Mostrar
                </div>
            </div>
            <div>
                <div>
                    <img src="./../../../assets/profile.png" class="icon" />
                </div>
                <div>
                    Atajos de teclado
                </div>
            </div>
        </div>
    </div>

    <div class="containerTransparent" *ngIf="showMenu">
        <div appClickedOutside (clickedOutside)="hideMenuHandler()" class="menu_profile">
            <div class="account_switch">
                <img class="image" src="./../../../assets/profile.jpg" />
                <div class="content_menu">
                    <div class="name">
                        Jesús Medina
                    </div>
                    <div class="username">
                        @MedinaVilla23
                    </div>
                </div>
                <div>
                    <span class="checked"> &#10003;</span>
                </div>
            </div>
            <div class="account_switch">
                <img class="image" src="./../../../assets/bombe.png" />
                <div class="content_menu">
                    <div class="name">
                        Bombe Software
                    </div>
                    <div class="username">
                        @bombesoftware
                    </div>
                </div>
                <div>
                </div>
            </div>
            <span style="border-top:1px solid rgb(236, 236, 236) ;"></span>
            <div class="list_items">
                <li>Agregar una cuenta existente</li>
                <li>Administrar cuentas</li>
                <li>Cerrar la sesión de @MedinaVilla23</li>
            </div>
        </div>
    </div>

    <div class="profile_settings_section">
        <div (click)="showMenuHandler()" class="box">
            <img src="./../../../assets/profile.jpg" class="profile_image" />
            <div class="content_settings" style="display: flex;">
                <div>
                    <div class="name">Jesús Medina</div>
                    <div class="username">@MedinaVilla23</div>
                </div>
                <div class="rightFlex">
                    <img class="iconConfig" src="./../../../../../assets/Three_points.svg" />
                </div>
            </div>

        </div>
    </div>
    <app-modal (hideModal)="hideModalHandler()" *ngIf="showModalTweet"></app-modal>
</nav>