@media screen and (min-width: 0px) {

    .wrapper {
        display: flex;
        flex-direction: column;
    }
    
    .list {
        /* width: 360px; */
        width: 90%;
        margin-right: 28px;
        margin-left: 28px;
        max-height: 100%;
    }
    
    .content {
        max-width: 100%;
        width: 600px;
    }
    
 
    .searchIcon {
        width: 20px;
        height: 20px;
        margin-right: 12px;
    }
    
    .input {
        width: 90%;
        padding: 12px;
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 14px;
        border: 1px solid rgb(205, 205, 205);
        text-align: center;
        border-radius: 20px;
    }
    
    .center_container {
        /* padding-top: 40vh; */
        height: 100%;
        text-align: center;
    }
    
    .description {
        font-size: 14px;
        color: rgb(81, 81, 81);
    }
    
    .button {
        background-color: rgb(29, 155, 240);
        color: white;
        font-size: 16px;
        font-weight: 600;
        border: none;
        padding: 15px 60px 15px 60px;
        border-radius: 50px;
        cursor: pointer;
    }
    
    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .icon {
        cursor: pointer;
        width: 18px;
    }
}

@media screen and (min-width: 620px) {
    .wrapper {
        display: flex;
        flex-direction: row;
    }

    .content {
        width: 600px;

    }

    .center_container {
        padding-top: 40vh;
        text-align: center;
    }
    
    .list {
        width: 360px;
    }
}

@media screen and (min-width: 960px) {}

@media screen and (min-width: 1320px) {
 
}