<div class="wrapper">
    <div class="feedContainer">
        <div class="box">
            <div class="flex">
                <div>
                    <img (click)="goBackNavigate()" class="arrow" src="./../../../../assets/arrow_left.png" />
                </div>
                <div class="header">
                    <p class="title">Listas</p>
                    <p class="subtitle">@{{user}}</p>
                </div>
            </div>
            <div>
                <div class="headerMenu">
                    <div>
                        <h3 class="content">Tus Listas</h3>
                    </div>
                    <div class="link">
                        Editar
                    </div>
                </div>

                <!-- <div class="flexMessage">
                    <p class="message"> Aún no hay nada para ver aquí. Fija tus Listas favoritas para acceder a ellas
                        rápidamente.</p>
                </div> -->
                <div *ngIf="fixedList.length>0" class="flex">
                    <div (click)="goToEvent(item._id)" class="fixed" *ngFor="let item of fixedList">
                        <img src={{item.image}} style="width: 80px; height: 80px; border-radius: 20px;" />
                        <div class="fixed_title">
                            {{item.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div>
                <h3 class="content">Descubre Listas nuevas</h3>
                <div (click)="goToEvent(item._id)" class="newList" *ngFor="let item of newLists">
                    <div>
                        <img src={{item.image}} class="image" />
                    </div>
                    <div class="listContent">
                        <h5 class="topic">{{item.name}}</h5>
                        <div class="flexContent">
                            <div>
                                <img src={{item.creator.image}} class="profile" />
                            </div>
                            <div>
                                <p class="name">{{item.creator.name}}</p>
                            </div>
                            <div>
                                <p class="username">@{{item.creator.username}}</p>
                            </div>
                        </div>

                    </div>
                    <div>
                        <button class="button">Seguir</button>
                    </div>
                </div>

                <div class="content">
                    <p class="link">Mostrar más</p>
                </div>
            </div>
        </div>
        <div class="box flex_last">
            <div>
                <h3 class="content">Tus Listas</h3>
                <div (click)="goToEvent(item._id)" class="newList" *ngFor="let item of myLists">
                    <div>
                        <img src={{item.image}} class="image" />
                    </div>
                    <div class="listContent">
                        <h5 class="topic">{{item.name}}</h5>
                        <div class="flexContent">
                            <div>
                                <img src={{item.creator.image}} class="profile" />
                            </div>
                            <div>
                                <p class="name">{{item.creator.name}}</p>
                            </div>
                            <div>
                                <p class="username">@{{item.creator.username}}</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="buttonPIN">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="latestContainer">
        <app-search-bar></app-search-bar>
        <app-latest></app-latest>
        <app-follow-suggest [title]="'A quién seguir'"></app-follow-suggest>
        <app-footer></app-footer>
    </div>
</div>