.close{
    font-weight: bold;
}
.close:hover{
    cursor: pointer;
}




.jw-modal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    z-index: 999999;
    overflow: auto;
}

.jw-modal-body {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.jw-modal-background {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: #000;
    opacity: 0.75;

    z-index: 900;
}

