.feedContainer{
    width: 600px;
    margin-right: 28px;
    margin-left: 28px;

    /* border: 1px solid blue; */
}
.latestContainer{
  width: 360px;
  /* border: 1px solid red; */
}

.wrapper{
    display: flex;
}