<div>
    <div class="flex">
        <div>
            <img class="icon" src="./../../../../assets/arrow_left.png" />
        </div>
        <div class="header">
            <p class="title">Jesús Medina</p>
            <p class="subtitle">121 Tweets</p>
        </div>
    </div>
    <div>
        <img class="image" src="./../../../../assets/profile_banner.jfif" />
        <div class="circle">
            <div class="circleSmall">
                <img class="profile" src="./../../../../assets/profile.jpg" />

            </div>
        </div>

        <div class="top">
            <button class="editButton">Editar perfil</button>
        </div>
        <div class="content">
            <p class="name">Jesus Medina</p>
            <p class="username">@MedinaVilla23</p>
            <p class="description">Sin mentiras, ni palabras que no tengan conexión</p>
            <p class="date">Se unió en diciembre de 2021</p>
            <div class="flex">
                <div>
                    <span class="number">48 </span> <span class="subtitle">Siguiendo</span> <span>&nbsp; </span>
                </div>
                <div>
                    <span class="number">24 </span> <span class="subtitle">Seguidores</span>
                </div>
            </div>

        </div>
    </div>
</div>