<div *ngIf="user">
    <div class="flex">
        <div>
            <img (click)="goBackNavigate()" class="arrow" src="./../../../../assets/arrow_left.png" />
        </div>
        <div class="header">
            <p class="title">{{user.name}}</p>
            <p class="subtitle">{{user.tweets}} Tweets</p>
        </div>
    </div>
    <div >
         <img (click)="showBannerProfileHandler()" class="image" src={{user.banner}} />
        <!--<div class="circle">
            <div class="circleSmall">
                <img (click)="showImageProfileHandler()" class="profile" src={{user.image}} />
            </div>
        </div> -->
            <div class=imageContainer>
                    <img class="imageP" (click)="showImageProfileHandler()"  src={{user.image}} />
            </div>

        <div class="top">
            <button class="editButton">Editar perfil</button>
        </div>
        <div class="content">
            <p class="name">{{user.name}} <span *ngIf="user.verified"> <img src="./../../../../assets/verified.png"
                        class="iconVerified" /></span></p>
            <p class="username">@{{user.username}}</p>
            <p class="description">{{user.description}}</p>
            <p class="date">Se unió en {{user.date_registered}}</p>
            <div class="flex">
                <div class="link">
                    <span class="number">{{user.follows.length}} </span> <span class="subtitle">Siguiendo</span>
                    <span>&nbsp;&nbsp; </span>
                </div>
                <div class="link">
                    <span class="number">{{user.followers.length}} </span> <span class="subtitle">Seguidores</span>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal-wrapper (hideModal)="hideImageProfileHandler()" *ngIf="showImageProfile">
    <ng-container content>
        <img (click)="stopPropagation($event)"  class="profilePreview" src={{user.image}} />
    </ng-container>
</app-modal-wrapper>

<app-modal-wrapper (hideModal)="hideBannerProfileHandler()"*ngIf="showBannerProfile">
    <div content> 
        <img  (click)="stopPropagation($event)"  class="imagePreview" src={{user.banner}} />
    </div>
</app-modal-wrapper>