<div *ngIf="tweet" [class.linkBox]="retweets && likes" class="box division" (click)="goToTweet(tweet)">
    <div (mouseleave)="hideProfilePreviewCard()">
        <img (click)="goToProfile($event)" (mouseenter)="showProfilePreviewCard()" class="profile"
            src={{tweet.user.image}} alt="profile" />
        <div class="overview" *ngIf="showProfileCard" (click)="$event.stopPropagation()">
            <div (mouseleave)="hideProfilePreviewCard()">
                <app-profile-preview-card [username]="tweet.user.username"></app-profile-preview-card>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="header">
            <ng-container *ngIf="showTweetType">
                <div class="special" *ngIf="tweet.content.liked"><img class="interest"
                        src="./../../../../../assets/heart.png" /> {{tweet.content.liked.name}} indicó que le gusta
                </div>
                <div class="special" *ngIf="tweet.content.retweetted && !tweet.content.retweetted?.retweetedByMe"><img
                        class="interest" src="./../../../../../assets/retweet.png" /> {{tweet.content.retweetted.name}}
                    lo retwitteó</div>
                <div class="special" *ngIf="tweet.content.interest"><img class="interest"
                        src="./../../../../../assets/interest.png" /> {{tweet.content.interest.name}}</div>
                <div class="special" *ngIf="tweet.content.retweetted?.retweetedByMe"><img class="interest"
                        src="./../../../../../assets/retweet.png" /> Retwitteaste</div>
                <div class="special" *ngIf="tweet.repliesToTweet"><img class="interest"
                        src="./../../../../../assets/interest.png" /> {{tweet.user.username}} respondió</div>
            </ng-container>

            <div class="flexContainer">
                <div style="flex: 1;">
                    <span (click)="goToProfile($event)" class="username"><strong>{{tweet.user.name}}</strong></span>
                    <span (click)="goToProfile($event)" class="info">
                        @{{tweet.user.username}} ·
                        {{getDate(tweet.content.date)}}</span>
                </div>
                <div >
                    <img (click)="showOptionsTweetHandler($event)" class="icon"
                        src="./../../../../../assets/Three_points.svg" />

                    <div class="options_tweet" *ngIf="showOptionsTweet" (click)="stopPropagation($event)">
                        <app-tweet-options></app-tweet-options>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="text" [innerHTML]="displayTweetContent()"></div>

            <div class="gridContainer" *ngIf="tweet.content.media?.length! > 0 && showMedia">
                <div class="imageContainer" *ngFor="let image of tweet.content.media let i = index">
                    <img loading="lazy" class="imageTweet" (click)="showPhotoDetails($event, i)" src={{image}} />
                </div>
            </div>
        </div>
        <app-reactions [likes]="likes" [retweets]="retweets" [tweet]="tweet" (showModalReply)="makeTweet($event)"> </app-reactions>
    </div>
</div>

<div (click)="hideOptionsTweetHandler($event)" class="containerTransparent" *ngIf="showOptionsTweet"> </div>


<app-photo-status [idTweet]="tweet.idTweet" [user]="tweet.user.username" [index]="index"
    (hideModal)="closePhotoDetails()" *ngIf="showPhotoModal"></app-photo-status>

<app-modal [tweet]="tweet" (hideModal)="closeMakeTweet()" *ngIf="showModalReply && tweet"></app-modal>