<div *ngIf="tweet" (click)="goToTweet(tweet)" class="box" >
    <div>
        <img class="profile" src={{tweet.user.image}} alt="profile" />
    </div>
    <div class="content">
        <div class="header">
            <div class="special" *ngIf="tweet.content.liked"><img class="interest"
                    src="./../../../../../assets/heart.png" /> {{tweet.content.liked.name}} indicó que le gusta</div>
            <div class="special" *ngIf="tweet.content.retweetted && !tweet.content.retweetted?.retweetedByMe"><img class="interest"
                    src="./../../../../../assets/retweet.png" /> {{tweet.content.retweetted.name}} lo retwitteó</div>
            <div class="special" *ngIf="tweet.content.interest"><img class="interest"
                    src="./../../../../../assets/interest.png" /> {{tweet.content.interest.name}}</div>
            <div class="special" *ngIf="tweet.content.retweetted?.retweetedByMe"><img class="interest"
                    src="./../../../../../assets/retweet.png" /> Retwitteaste</div>

            <span class="username"><strong>{{tweet.user.name}}</strong></span> <span class="info"> @{{tweet.user.username}} ·
                {{getDate(tweet.content.date)}}</span>
        </div>
        <div>
            <div>
                <span class="text">{{tweet.content.text}}</span>
                <img class="imageTweet" *ngFor="let image of tweet.content.media" src={{image}} />
            </div>
        </div>
        <div class="reactions">
            <div>
                <img src="./../../../../../assets/comment.png" /> {{tweet.content.replies}}
            </div>
            <div>
                <img src="./../../../../../assets/retweet.png" />
                <span *ngIf="isRetweetedByME(tweet)"
                    class="green">{{tweet.content.retweets}}</span>
                <span *ngIf="!isRetweetedByME(tweet)">{{tweet.content.retweets}}</span>

            </div>
            <div *ngIf="isLikedByME(tweet)">
                <img src="./../../../../../assets/heart_red.png" />
                <span *ngIf="isLikedByME(tweet) && tweet.content.likes" class="red">{{tweet.content.likes}}</span>
            </div>
            <div *ngIf="!isLikedByME(tweet)">
                <img src="./../../../../../assets/heart.png" />
                <span *ngIf="tweet.content.likes">{{tweet.content.likes}}</span>
            </div>
            <div>
                <img src="./../../../../../assets/share.png" />
            </div>
        </div>
    </div>
</div>