.box{
    display: flex;
    flex-direction: row;
    flex: 1 0;
}

.linkBox:hover{
    background-color: rgb(0,0,0,0.02);
    cursor: pointer;
}

.header{
    padding: 4px 0 4px 0;
}
.content{
    display: flex;
    flex:1;
    flex-direction: column;
    padding: 16px 16px 16px 0;
}
.profile{
    width: 50px;
    border-radius: 50%;
    padding: 16px;
    justify-content: flex-start;
    align-items: flex-start;
}
.info{
    font-size: 13px;
    opacity: 0.8;
}
.reactions{
    margin: 15px 0 15px 0;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.reactions div{
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 2px;
  padding: 4px 8px 4px 8px;

}
.reactions div:hover{
   opacity: 0.8;
   color: rgb(23, 140, 219);
   background-color:  rgb(227, 244, 255);
  }

.reactions img{
    width: 16px;
    height: 16px;
    padding-right: 10px;
}
.interest{
    width: 14px;
    height: 14px;
    padding-right: 8px;
}
.special{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 6px;
    opacity: 0.8;
}

.imageTweet{
    width: 100%;
    border-radius: 12px;
    margin: 14px 0 0 0;
}

.green{
    color: rgb(7, 162, 7);
    font-weight: bold;
}

.red{
    color: rgb(215, 5, 5);
    font-weight: bold;
}
.text{
    font-size: 14px;
}
.username{
    font-size: 15px;
}