<div class="wrapper">
    <div class="feedContainer">
        <div class="box"> 
            <div class="flex">
                <div>
                    <img class="arrow" src="./../../../../assets/arrow_left.png" />
                </div>
                <div class="header">
                    <p class="title">Tweets</p>
                </div>
            </div>
        </div>
        <app-tweet [tweet]="tweet"></app-tweet>
    </div>
    <div class="latestContainer">
        <app-search-bar ></app-search-bar>
        <app-relevant-people></app-relevant-people>
        <app-latest></app-latest>
        <app-footer></app-footer>
    </div>
</div>
