<div class="wrapper">
    <div class="feedContainer">
        <div class="box">
            <div class="flex">
                <div>
                    <img (click)="goBackNavigate()" class="arrow" src="./../../../../assets/arrow_left.png" />
                </div>
                <div class="header">
                    <p class="title">Tweets</p>
                </div>
            </div>
            <app-tweet-details [tweet]="tweet" [retweets]="retweets" [likes]="likes"></app-tweet-details>
            <div class="response_box">
                <div>
                    <img src="./../../../assets/profile.jpg" class="image" />
                </div>
                <div>
                    <textarea  [(ngModel)]="text" placeholder="Twittea tu respuesta" class="textarea" name="text" rows="2"
                        autosize></textarea>
                </div>
                <div>
                    <button (click)="replyTweet()" class="button">Responder</button>
                </div>
            </div>
            <div>
                <app-tweet [retweets]="retweets" [likes]="likes" [tweet]="item" *ngFor="let item of replies"></app-tweet>

            </div>
        </div>
    </div>
    <div class="latestContainer">
        <app-search-bar></app-search-bar>
        <app-relevant-people></app-relevant-people>
        <app-latest></app-latest>
        <app-footer></app-footer>
    </div>
</div>