.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px 10px 12px;
}
.container:hover{
    background-color: rgb(0,0,0,0.03);
    cursor: pointer;
}
.content{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}
.content :nth-child(1){
    font-size: 16px;
    font-weight: bold;
}    
.content :nth-child(1):hover{
    text-decoration: underline;
}      
.content :nth-child(2){
    font-size: 14px;
    color: rgb(110, 110, 110);
}       
.profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.button{
    outline: none;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 8px 16px 8px 16px;
}
.button:hover{
    cursor: pointer;
    opacity: 0.6;
}