/* You can add global styles to this file, and also import other style files */
body, button,input,select,textarea{
    font-family: 'Roboto', sans-serif;
    /* margin: 0px; */
    /* padding: 0px; */

}
ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;

}